.row.link(data-uid="#{@link.uid}")
  .col-sm-offset-3.col-sm-6
    .row.edit-link
      .col-xs-8
        %h2 Link
      .col-xs-4
        %button.btn.btn-xs.btn-danger#delete-link Delete
    .form-group
      %label URL
      %i.fa.fa-question-circle.help(data-toggle='popover' data-trigger='hover' title='URL' data-content='The URL is the web address of the website.' data-placement='left')
      %input.form-control(name='url' autofocus){value: @link.url}
    .form-group
      %label Name
      %i.fa.fa-question-circle.help(data-toggle='popover' data-trigger='hover' title='Name' data-content='Giving your link a descriptive name will help you at finding it later.' data-placement='left')
      %input.form-control(name='name'){value: @link.name}
    .form-group
      %label Tags
      %i.fa.fa-question-circle.help(data-toggle='popover' data-trigger='hover' title='Tags' data-content='Tagging links is a simple way to categorize them and helps finding them later. Specify multiple tags by separating their names with commas. Not required.' data-placement='left')
      %input.form-control(name='tags'){value: @tags}
    .form-group
      %label Category
      %i.fa.fa-question-circle.help(data-toggle='popover' data-trigger='hover' title='Category' data-content='If Favourites or Unread is selected, the link will go to the specified page. Favourites are a simple way to keep your favourite links in one place. Unread links are for those links you need to read later and when you open them they are removed from the list. Not required.' data-placement='left')
      %select.form-control(name='category')
        - if @link.category == nil
          %option(value='' selected) None
        - else
          %option(value='') None
        - if @link.category == 'favourites'
          %option(value='favourites' selected) Favourites
        - else
          %option(value='favourites') Favourites
        - if @link.category == 'unread'
          %option(value='unread' selected) Unread
        - else
          %option(value='unread') Unread
    .form-group
      .form-inline
        %i.fa.fa-question-circle.help(data-toggle='popover' data-trigger='hover' title='Public' data-content='If you check this box the link will be visible to anyone. This could mean that it appears under tag pages for the tags it has, etc.' data-placement='left')
        .checkbox
          %label
            - if @link.public?
              %input(type='checkbox' name='public' checked)
            - else
              %input(type='checkbox' name='public')
            Make public (visible to anyone)
    .row
      .col-xs-6
        .form-group
          %a.btn.btn-default.form-control{href: redirect_link_path(@link.uid)} Visit page &raquo;
      .col-xs-6
        .form-group
          %button.btn.btn-success.form-control#update-link(type='submit') Update
