$white: rgb(255, 255, 255);
$hover-grey: rgb(236, 240, 241);

#log-out {
  cursor: pointer;
}

.fa-bars {
  color: $white;
}

.content {
  margin-top: 60px;
}

.marketing {
  margin-top: 50px;

  .sign-up {
    margin-top: 50px;
  }
}

.edit-link-button {
  float: right;
  position: absolute;
  top: 8px;
  right: 8px;
}

.list-group-item:hover {
  background-color: $hover-grey;
  cursor: pointer;
}

.edit-link {
  a {
    margin-top: 38px;
  }
}
