$white: rgb(255, 255, 255);
$hover-grey: rgb(236, 240, 241);
$primary: rgb(44, 62, 80);

#log-out {
  cursor: pointer;
}

#delete-link {
  float: right;
  margin-top: 32px;
}

.fa-bars {
  color: $white;
}

.content {
  margin-top: 60px;
}

.marketing {
  margin-top: 50px;

  .sign-up {
    margin-top: 50px;
  }
}

.edit-link-button, .favourite-button, .read-later-button {
  float: right;
  position: absolute;
  top: 8px;
}

.edit-link-button {
  right: 52px;
}

.favourite-button {
  right: 30px;
}

.read-later-button {
  right: 8px;
}

i.favourite-button.fa-star, i.read-later-button.fa-clock-o {
  display: block;
}

i.edit-link-button, i.favourite-button, i.read-later-button {
  display: none;
}

.list-group-item.link:hover {
  background-color: $hover-grey;
  cursor: pointer;
  i {
    display: block;
  }
}

.edit-link {
  a {
    margin-top: 38px;
  }
}

.small-pencil {
  margin-top: 12px;
}

.settings {
  color: $primary;
  display: none;
  position: absolute;
  top: 30px;
  right: 16px;
}

.settings:hover {
  color: $primary;
}

.help {
  float: right;
}

.tag-button {
  margin: 3px;
}
