.jumbotron.marketing
  .row
    .col-sm-8
      %h2 Store, share and discover pages
      %p With Stash you can:
      %ul
        %li Store bookmarks
        %li Share bookmarks
        %li Discover others' bookmarks
        %li And much more!
    .col-sm-4
      .sign-up
        %p What are you waiting for?
        %a.btn.btn-primary.btn-block{href: new_user_registration_path} Sign up now &raquo;
